.container {
    height: 95vh;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 1em;
}

[data-prefers-color='dark'] .container {
    background-color: unset;
}

.side {
    flex: none;
}

.main {
    flex: auto;
}

.content {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #cccccc;
}

.content.active {
    display: flex;
}

.title {
    height: 5vh;
    /*font-size: 1.5em;*/
    /*font-weight: bold;*/
    /*margin: 0.5em 0;*/
}

.search {
    padding-top: 0.5em;
}
